{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News list
{% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный товар?</h2>

<table>
    <thead>
        <tr>
            <td>
                <h3>Заголовок</h3>
            </td>
            <td>
                <h3>Дата</h3>
            </td>
            <td>
                <h3> Статья</h3>
            </td>
        </tr>
    </thead>
     <td>
        {{ new.title | cenzor}}
    </td>
    <td>
        {{ new.dateCreation }}
    </td>
    <td>
        {{ new.text|truncatechars:20 | cenzor}}
    </td>
</table>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="удалить">
</form>      
{% endblock content %} 